@using BlazorServerLASViewer.Domains.Well

@for (var i = 0; i < @Well.DoubleLogs.Logs.Length; i++)
{
    <hr size="3" noshade>
    <table>
        <thead>
            <tr>
                <th>@Well.Header.Name</th>
                <th>[LOG: @Well.DoubleLogs.Headers[i].Name ]</th>
            </tr>
        </thead>
    </table>

    <hr size="2" noshade>

    <table>
        <thead>
            <tr>
                <th> Depth [@Well.DoubleLogs.Logs[0][0].DepthUnits] </th>
                <th> Datum [@Well.DoubleLogs.Headers[i].Units]</th>
            </tr>
        </thead>

        <tbody>
            @for (var j = 0; j < @Well.DoubleLogs.Logs[i].Length; j++)
            {
                <LogDatumTableRow datum="@Well.DoubleLogs.Logs[i][j]"> </LogDatumTableRow>
            }
        </tbody>
    </table>

}


@code {
    [Parameter]
    public Well Well { get; set; }
}
