@page "/loadlogasciilasfile"
@inject MainViewModel MainViewModel

@using BlazorServerLASViewer.Domains.Well;

<h1>Log ASCII (LAS) file loader</h1>

<InputFile OnChange="LoadLogASCII" />

@if (File == null)
{
    <p> No file selected</p>
}
else
{

    if (Well == null || Well.DoubleLogs == null || Well.DoubleLogs.Headers == null || Well.DoubleLogs.Logs == null)
    {
        <p>Loading log ASCII format file : @File.Name (@File.Size bytes)</p>
    }
    else
    {
        <style>
            th, td {
                padding: 5px;
            }
        </style>

        <hr size="2" noshade>

        <WellSvg well="@Well"> </WellSvg>

        <hr size="2" noshade>

        <table>
            <thead>
                <tr>
                    <th> File Name </th>
                    <th> File Size </th>
                    <th> Number of Log Headers </th>
                    <th> Number of Logs </th>
                    <th> Last Modified </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@File.Name </td>
                    <td>@File.Size</td>
                    <td>@Well.DoubleLogs.Headers.Length</td>
                    <td>@Well.DoubleLogs.Logs.Length</td>
                    <td>@File.LastModified.ToShortDateString()</td>
                </tr>
            </tbody>
        </table>
        <WellTable well="@Well"></WellTable>

        @code
        {
            private IFileListEntry File;
            Well Well;

            async Task LoadLogASCII(IFileListEntry[] files)
            {
                File = files.FirstOrDefault();
                Well = await Well.GetWellFromFileListEntryAsync(File);
                MainViewModel.Logs = Well.LogDataToLogs<double>(Well.DoubleLogs);
            }

        }
    }
}