@page "/loadlogasciilasfile"
@using BlazorServerLASViewer.Domains.Well;

@inject WellSvg WellSvg;


<h1>Log ASCII (LAS) file loader</h1>

<InputFile OnChange="LoadLogASCII" />

<WellSvg></WellSvg>

@if (File == null)
{
    <p> No file selected</p>
}
else
{

    if (Well == null || Well.Data == null || Well.Data.Headers == null || Well.Data.Logs == null)
    {
        <p>Loading log ASCII format file : @File.Name (@File.Size bytes)</p>
    }
    else
    {
        <style>
            th, td {
                padding: 5px;
            }
        </style>

        <table>
            <thead>
                <tr>
                    <th> File Name </th>
                    <th> File Size </th>
                    <th> Number of Log Headers </th>
                    <th> Number of Logs </th>
                    <th> Last Modified </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@File.Name </td>
                    <td>@File.Size</td>
                    <td>@Well.Data.Headers.Length</td>
                    <td>@Well.Data.Logs.Length</td>
                    <td>@File.LastModified.ToShortDateString()</td>
                </tr>
            </tbody>
        </table>
        <WellTable well="@Well"></WellTable>

        <hr size="5" noshade />

        <h3>Movement</h3>

        <div>OverChild: @WellSvg.OverChild</div>

        <div>Cursor Position: @WellSvg.ContainerMouseX,@WellSvg.ContainerMouseY</div>

        <div>
            Element Id:
            @if (WellSvg.SelectedItem > -1)
            {
                @WellSvg.SelectedItem <span> Element Position:</span> @WellSvg.ElementX <span>,</span>@WellSvg.ElementY
            }
            else
            {
                <span>none</span>
            }
        </div>

        @code
        {
            private IFileListEntry File;
            Well Well;

            async Task LoadLogASCII(IFileListEntry[] files)
            {
                File = files.FirstOrDefault();
                Well = await Well.GetWellFromFileListEntryAsync(File);
            }

        }
    }
}